build/*.aux
build/*.log
build/*.toc
build/*.lof
build/*.lot
build/*.fls
build/*.fdb_latexmk
build/*.synctex.gz
build/*.snm
build/*.out
build/*.nav
build/*.vrb
build/*.dvi
build/*.bbl
build/*.blg
build/*.idx
build/*.ind
build/*.ilg
build/*.glo
build/*.gls
build/*.ist
build/*.glg
build/*.lol
build/*.los
build/*.maf
build/*.mtc
build/*.mtc1
build/*.acn
build/*.acr
build/*.alg
build/*.pfd

build/*.sxc
build/*.sbx
build/*.sxd
png/*
