*.aux
*.log
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.snm
*.out
*.nav
*.vrb
*.dvi
*.bbl
*.blg
*.idx
*.ind
*.ilg
*.glo
*.gls
*.ist
*.glg
*.lol
*.los
*.maf
*.mtc
*.mtc1
*.acn
*.acr
*.alg
*.pfd
esquemas/*
build/*
png/*
